body {
  background-color: #696969;
}

.main-title {
  border-left: 1px solid #AAA;
  box-shadow: 1px 0px rgba(255, 255, 255, 0.45) inset;
}

.animation-content{
  position:relative;
  height:65px;
  text-align: center;
  transform: translate(5%, 65%);
  -webkit-transform: translate(5%, 65%);
}
.jumboframe-1,.jumboframe-2,.jumboframe-3{
  animation-direction: normal;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  position: absolute;
  top:0;
  left:0;
}
.jumboframe-1{
  animation-name: jumbo1;
  -webkit-animation-name: jumbo1;
}
.jumboframe-2{
  animation-name: jumbo2;
  -webkit-animation-name: jumbo2;
}
.jumboframe-3{
  animation-name: jumbo3;
  -webkit-animation-name: jumbo3;
}

.jumboframe-1:before,
.jumboframe-2:before,
.jumboframe-3:before,
.jumboframe-1:after,
.jumboframe-2:after,
.jumboframe-3:after{
  font-size:42px;
}

.jumboframe-1:before{
  content:"\f0c2 ";
}
.jumboframe-2:before{
  content:"\f1d8 ";
}
.jumboframe-3:before{
  content:"\f023 ";
}
.jumboframe-1:after{
  content:" Anywhere";
}
.jumboframe-2:after{
  content:" Freely";
}
.jumboframe-3:after{
  content:" Securely";
}
@keyframes jumbo1 {
  0%   {opacity:0}
  15%  {opacity:1}/*1*/
  30%  {opacity:0}
  45%  {opacity:0}/*2*/
  65%  {opacity:0}
  80%  {opacity:0}/*3*/
  100% {opacity:0}
}
@keyframes jumbo2 {
  0%   {opacity:0}
  15%  {opacity:0}/*1*/
  30%  {opacity:0}
  45%  {opacity:1}/*2*/
  65%  {opacity:0}
  80%  {opacity:0}/*3*/
  100% {opacity:0}
}
@keyframes jumbo3 {
  0%   {opacity:0}
  15%  {opacity:0}/*1*/
  30%  {opacity:0}
  45%  {opacity:0}/*2*/
  65%  {opacity:0}
  80%  {opacity:1}/*3*/
  100% {opacity:0}
}

@-webkit-keyframes jumbo1{
  0%   {opacity:0}
  15%  {opacity:1}/*1*/
  30%  {opacity:0}
  45%  {opacity:0}/*2*/
  65%  {opacity:0}
  80%  {opacity:0}/*3*/
  100% {opacity:0}
}
@-webkit-keyframes jumbo2 {
  0%   {opacity:0}
  15%  {opacity:0}/*1*/
  30%  {opacity:0}
  45%  {opacity:1}/*2*/
  65%  {opacity:0}
  80%  {opacity:0}/*3*/
  100% {opacity:0}
}
@-webkit-keyframes jumbo3{
  0%   {opacity:0}
  15%  {opacity:0}/*1*/
  30%  {opacity:0}
  45%  {opacity:0}/*2*/
  65%  {opacity:0}
  80%  {opacity:1}/*3*/
  100% {opacity:0}
}

*:before, *:after {
  box-sizing: border-box;
  color:#58a2ce;
  font-size: 1.2em;
  font-family: FontAwesome;
}

.row h4 {
  font-style: italic;
  color: #585858;
  font-size: 1.4em;
  margin-bottom: 16px;
}

.row h2, {
  margin-bottom: 16px;
}

.navbar {
  margin-bottom: 47px;
  margin-left:-15px;
}
.navbar-default {
  background-color: #414141;
  height: 91px; 
  border-bottom: 3px solid #F9E50F;
  box-shadow: 0 -4px 4px #222 inset, 0px 1px #555;
}
ul.navbar-nav {
  padding-top: 28px;
}

ul.navbar-nav > li > a {
  font-size: 1.2em;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.copyr a{
  color: #ffd700;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.copyr a:hover,
a:hover
{
  color:#58a2ce;
}
.navbar img {
  margin-top:-10px;
  transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
}
.container .jumbotron, .content {
  background-color:#ccc;
  border-radius: 0 12px 12px 0;
  border-left: 3px solid #F9E50F;
  margin-bottom:25px;
  text-shadow: 0 1px rgba(255,255,255,0.45);
  color: #111;
  box-shadow: 0px 4px 4px #333, 0px 1px #EEE inset, 1px 0 #AAA inset;
  padding: 14px 8%; 
}
.content {
  padding: 14px 6% 28px; 
}

.content .row {
}

footer {
  padding-top:14px;
  background-color: #414141;
  min-height: 50px; 
  border-top: 3px solid #F9E50F;
  box-shadow: 0 4px 4px #222 inset, 0px -1px #555;
}

div.copyr {
  color: #ccc;
  text-align:center;
}
.fa {
  margin: 0px 10px 0px 0px;
}

.col-md-6 {
  width: calc(50% - 20px);
  margin: 10px;
}

.alert {
  border-radius: 8px;
  background: #E2E2E2;
  box-shadow: 0 1px rgba(255, 255, 255, 0.45);
}
.alert-success,
.alert-danger,
.alert-warning {background: #E2E2E2;}
.alert-success {border-color: #3C763D;}
.alert-danger {border-color: #A94442;}
.alert-warning {border-color: #8A6D3B;}
.fa-warning:before,
.fa-exclamation-triangle:before{
  color: #A94442;
}

.content ul ul {
  padding-left:20px;
}
.col-md-6 ul li {
  margin-top:10px;
}

ul.listing {
  padding-left:20px;
}

ul.awesome li:before {
  content: "\f0da ";
  color: #333;
  margin-right: 8px;
  font-size: 14px
}

ul.main > li {
  margin-bottom:30px;
}

pre {
  background: #696969;
  color: #fff;
  text-shadow: 0 1px #333;
  box-shadow: 0 1px rgba(255,255,255,0.45);
  border: solid 1px #aaa;
  margin-top: 8px;
}
#toTop {
  font-size:42px;
  display: none;
  position: fixed;
  bottom: 8px;
  right: 4px;
  width: 64px;
  height: 64px;
  z-index:10;
}
#toTop:after {
  content: "\f0aa";
  font-size:42px;
  color: #222;
  text-shadow: 0 1px rgba(255,255,255,0.45);
}
#toTop:hover {
  text-decoration:none;
}

@media screen and (max-width:860px) {
  #toTop {
    bottom: 8px;
    right: 4px;
    width: 48px;
  }  
}


@media screen and (max-width:1000px) {
  .col-md-6 {
    width: calc(100% - 20px);
  }    
  .main-title {
    border-left:none;
    border-top: 1px solid #AAA;
    box-shadow: 0 1px rgba(255, 255, 255, 0.45) inset;
  }
  .animation-content {
    transform: translate(1%, 0);
    -webkit-transform: translate(1%, 0);
  }
}

@media  all and (max-width: 768px) {
  .navbar-toggle {
    margin-top: 24px;
  }
  .navbar-nav > li {
    text-align: center;
    font-size: 1.3em;
    height: 100%;
  }
  .collapse {
    background-color: #414141;
  }

  .collapsing {
    background-color: #414141;
  }
  .navbar-collapse > .btn-group
  {
    display: none;
  }
}

