# file managed by puppet
#
# SSLeay example configuration file.
#

RANDFILE                = $ENV::HOME/.rnd

[ req ]
default_bits            = 4096
default_md              = sha256
default_keyfile         = certs/osd.key
distinguished_name      = req_distinguished_name
prompt                  = no
req_extensions          = v3_req

[ req_distinguished_name ]
countryName                     = CH
stateOrProvinceName             = Vaud
localityName                    = Lausanne
organizationName                = EthACK.org
organizationalUnitName          = Fogmail
commonName                      = 1.storage.fogmail.org

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = 1.storage.fogmail.org
